
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: cursive;
    overflow-x: hidden;
    color: white;
}
.box {
    margin: 85px;
    background: rgb(238, 233, 233);
}
nav ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    background-color: lightskyblue;
    padding: 15px;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
p {
    font-size: 35px;
}
main {
    display: flex;
    background: orange;
    height: 90vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section {
    display: flex;
    height: 90vh;
    background: red;
    align-items: center;
    justify-content: center;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;

}
footer ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-evenly;
}